.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store

*.php~

app/yealink/resources/firmware/*
_nodejstools/recordings/config.json
_nodejstools/recordings/recording_config.json
_nodejstools/*/node_modules